.DS_Store
DerivedData/
.build/
.swiftpm/
Package.resolved
.deriveddata/
.artifacts/
.local-models/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
!Yemma4.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
*.playground/
*.swiftmodule
*.swiftdoc
*.swiftsourceinfo
*.ipa
*.dSYM
*.xcarchive
